* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

:root {
    --main_color: #000000;
    --font_color: #2f9dc0;
}

body {
    background-color: var(--main_color);
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Karla', sans-serif;
}

.header_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 45px;
    background-color: var(--main_color)
}

nav {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: end;

}

h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    font-size: 20px;
    padding: 5px;
}

nav ul {
    float: right;
    width: 80%;
}

nav li {
    float: right;
    justify-content: space-around;
    font-size: 12px;

    list-style: none;

}

nav li {
    color: var(--secondary_color);
}

nav li:hover {
    background-color: var(--secondary_color);
    color: rgb(255, 255, 255);
    border-radius: 10px 10px 40px 40px;

}

nav a {
    display: flex;
    text-decoration: none;
    height: auto;
    align-items: center;
    padding: 5px 10px 6px;
    font-size: 18px;
}

nav a:hover {
    color: rgb(255, 255, 255);
}




h2 {
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 0;
    margin: 20px 0px 20px 0px;
}

p {
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: 100vw;
    color: var(--main_color);
    text-align: center;
    padding: 0;
    margin: 0;


}



.card {
    color: white;
    display: inline-block;
    height: auto;
    width: auto;
    border-radius: 10px;

    font-size: 8px;
    padding: 10px;
    background-color: var(--main_color);
}

.card:hover {
    box-shadow: 10px 10px 5px 0px rgba(47, 157, 192, 1);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(47, 157, 192, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(47, 157, 192, 1);
    border: solid 1px var(--font_color);
}

h2,
h1,
a {
    color: var(--font_color);
}

.h2_about {
    background-color: var(--main_color);
    width: 100%;
    height: 100%;
    margin: 0;
}

.about_container {
    height: 750px;
    width: 100vw;
    border: 0 black;
}

.about_container img {
    max-width: 100%;
    height: auto;
    border: 0 black;
}



.h2_skills {
    width: 100vw;

}

.skills_container {
    height: auto;
    padding-top: 20px;
    color: white;
    box-shadow: none;
    padding-bottom: 80px;

}

.skills_container div {
    width: 450px;
    height: 170px;
    margin: 10px;
}

.skills_container div p {
    color: white;

}


footer {
    height: 25px;
    width: 100%;
    background-color: var(--main_color);
    color: #2f9dc0;
    font-size: 16px;
    text-decoration: bold;
}

#h2_experience {
    padding: 0px 0px 10px 0px;


}

.experience_container {
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.experience_container div {
    color: white;
    height: 300px;
    width: 350px;

}

.experience_container div p {
    color: white;
}



#h2_projects {
    padding: 0px 0px 10px 0px;
}

.projects_container {
    width: 100%;
    height: auto;
    gap: 10px;
    margin-bottom: 30px;
}

.projects_container div {
    height: 300px;
    width: 350px;
    color: white;
}

.projects_container div p {
    color: white;

}



.contact_container {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
    background-color: aliceblue;
    height: auto;
    margin-bottom: 50px;

}


#contact_card1 {
    display: flex;
    flex-direction: column;
    background-color: white;

}


@media only screen and (max-width: 660px) {

    .header_container {
        height: auto;
        padding: 10px;
    }

    nav {
        width: 100%;
    }

    h1 {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    nav ul {
        float: none;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    nav li {
        float: none;
        margin: 5px;
    }

    .container {
        height: auto;
        padding: 10px;
    }

    .card {
        font-size: 16px;
        background-color: var(--main_color);
        border-radius: 0px;
        padding: 10px;
        margin: 10px;
        border: solid 1px #2f9dc0;

    }

    .card:hover {
        box-shadow: none;
    }

    
    .h2_about {
        background-color: var(--alabaster);
        color: var(--main_color);
        margin-top: 10px;
        padding: 10px;
    }

    .h2_skills {
        background-color: var(--alabaster);
        color: var(--font_color);
        margin: 10px;
        padding: 10px;
    }

    .about_container {
        display: flex;
        position: static;
        width: 100%;
        background-color: var(--alabaster);
        height: auto;
        flex-wrap: wrap;
        padding: 10px;
    }

    .skills_container {
        display: flex;
        position: static;
        width: 100%;
        background-color: var(--alabaster);
        height: auto;
        padding: 0;
        flex-wrap: wrap;
    }

    .skills_container div {
        width: 100%;
        height: auto;
        margin: 10px;
        text-align: center;
    }

    .skills_container div p {
        margin: 10px 0;
        border-radius: 0px;
    }

    .experience_container div,
    .projects_container div {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    footer {
        font-size: 16px;
        padding: 20px;
        text-align: center;
    }

    .contact_container {
        display: flex;
        position: static;
        width: 100%;
        background-color: var(--alabaster);
        height: auto;
        flex-wrap: wrap;
        padding: 10px;
    }

    #contact_card1 {
        display: flex;
        flex-direction: row;
        background-color: var(--alabaster);
        border-radius: 0;
        padding: 10px;
    }

    body {
        background-color: black;
    }

}